/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.navbar-nav .nav-item .nav-link {
    color: #fff !important;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: #007BFF;
    border-radius: 5px;
}

.custom-footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #e4e4e4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #007BFF;
}